 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background:  rgb(1, 10, 18);
 }

 
 a{
    color: white;
    text-decoration: none;
 }

 .navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
 }

@keyframes show-content{
   100%{
      visibility: visible;
      opacity: 1;
   }
}

 .navbar .logo{
    font-size:30px;
    font-weight: 700;
 }

 .navbar ul{
    display: flex;
 }

 .navbar ul li{
    list-style: none;
    margin-left: 35px;
 }

 .navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
 }

 .navbar ul li:hover a,
 .navbar ul li.active a {
    color:rgb(49, 217, 142);
 }

 .home{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color:white;
     visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
 }

 .home-info h1{
    font-size: 55px;
 }

 .home-info h2{
   display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    
 }

 .home-info h2 span{
   position: relative;
   display: inline-block;
   color: transparent;
   -webkit-text-stroke: .7px rgb(49, 217, 142);
   animation: display-text 16s linear infinite; 
   animation-delay: calc(-4s * var(--i));
 }

@keyframes display-text{
   25%,
   100%{
      display: none;

   }
}

.home-info h2 span::before{
   content: attr(data-text);
   position: absolute;
   width: 0;
   border-right: 2px solid rgb(49, 217, 142);
   color: rgb(49, 217, 142);
   white-space: nowrap;
   overflow: hidden;
   animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

   10%,
   100% {
      width: 0;
   }

   70%,
   90% {
      width: 100%;
   }
}

 .home-info p {
      margin: 10px 0 35px;
      font-size: 20px;
      
 }

 .home-info .btn-sci {
     display: flex;
     align-items:center;
 }

 .btn{
    display: inline-block;
    padding: 10px 30px;
    background:rgb(49, 217, 142);
    border: 2px solid rgb(49, 217, 142);
     border-radius: 40px;
     box-shadow: 0 0 10px rgb(49, 217, 142);
     font-size: 16px;
     color: rgb(1, 10, 18);
     font-weight: 600;
     transition: .5s;
 }

 .btn:hover{
   background: transparent;
   color: rgb(49, 217, 142);;
   box-shadow: none;
 }

 .home-info .btn-sci .sci{
   margin-left: 20px; 
 }

 .home-info .btn-sci .sci a{
   display: inline-flex;
   padding: 8px;
   border: 2px solid rgb(49, 217, 142);;
   border-radius: 50%;
   font-size: 20px; 
   color: rgb(49, 217, 142);;
   margin: 0 8px;
   transition: .5s;
 }

 .home-info .btn-sci .sci a:hover{
   background: rgb(49, 217, 142);
   color: black;
   box-shadow: 0 0 10px rgb(49, 217, 142);
 }

 .me-img .img-box {
   position: relative;
   height: 32vw;
   width: 32vw;
   border-radius: 100%;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }

 .me-img .img-box::before,
 .me-img .img-box::after {
   content: '';
   position: absolute;
   width: 500px;
   height: 500px;
   background: conic-gradient(transparent, transparent, transparent, rgb(49, 217, 142) );
   transform: rotate(0deg);
   animation: rotate-border 10s linear infinite;
 }

 .me-img .img-box::after{
   animation-delay: -5s;
 }

 @keyframes rotate-border{
   100%{
      transform: rotate(360deg);
   }
 }
 
 
 .me-img .img-box .img-item{
   position: relative;
   width: 100%;
   height: 100%;
   margin-left: 4px;
   background:  rgb(1, 10, 18);
   border-radius: 50%;
   border: .1px solid rgb(1, 10, 18) ;
   display: flex;
   justify-content: center;
   z-index: 1;
  overflow: hidden;
 } 
 
.me-img .img-box .img-item img{
   position: absolute;
   top: -40px;
   margin-right: 2px;
   display: block;
    width: 108%;
   object-fit: cover;
   mix-blend-mode: lighten;
 } 

 .bars-animation{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   z-index: -1;
 }

 .bars-animation .bar{
   width: 100%;
   height: 100%;
   background: rgb(1, 10, 18);
   transform: translateY(-100%);
   animation: show-bars .5s ease-in-out forwards;
   animation-delay: calc(.1s * var(--i));
 }

 @keyframes show-bars{
    100% {
      transform: translateX(0%);
    }
    
 }

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5%;
 
  }

  .navbar .logo {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }

  .navbar ul {
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a {
    font-size: 18px;
    color: white; /* Texte noir pour lisibilité */
  }

  .navbar ul li.active a,
  .navbar ul li:hover a {
    color: rgb(49, 217, 142); /* couleur au survol/actif */
  }


  .home {
    flex-direction: column-reverse; /* 👈 Inverser l’ordre image / texte */
    gap: 30px;
    text-align: center;
    margin-top: 30%;
    padding: 120px 5% 10px;
    color: white; /* 👈 Texte noir pour mobile */
  
    visibility: visible;
    opacity: 1;
    animation: show-content 1.5s linear forwards; /* active l'attente */
    animation-delay: 1.6s;
    background-color: rgb(1, 2, 24);
   }

  .home-info h1 {
    font-size: 36px;
  }

  .home-info h2 {
    font-size: 24px;
  }

  .home-info h2 span {
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
    -webkit-text-stroke: .7px rgb(49, 217, 142);
    color: transparent;
  }

  .home-info h2 span::before {
    animation: fill-text 4s linear infinite;
    color: rgb(49, 217, 142);
    border-right: 2px solid  rgb(49, 217, 142);
  }

  .me-img .img-box::before .me-img .img-box::after {
    animation: rotate-border 10s linear infinite;
  }

 .bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex; /* IMPORTANT : pour afficher les barres en ligne */
  z-index: -1;
}

.bars-animation .bar {
  flex: 1; /* prend une part égale de la largeur */
  height: 100%;
  background: rgb(1, 10, 18);
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

  .home-info p {
    font-size: 16px;
  }

  .home-info .btn-sci {
    flex-direction: column;
    gap: 15px;
  }

  .home-info .btn-sci .sci {
    margin-left: 0;
  }

  .home-info .btn-sci .sci a {
    margin: 0 5px;
  }
 .me-img
 {
   margin-top: 10px;
 }
  .me-img .img-box {
    width: 60vw;
    height: 60vw;
  }

  .bars-animation {
    display: none;
  }
}


@media screen and (max-width: 480px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }

  .home-info h1 {
    font-size: 28px;
  }

  .home-info h4 {
    font-size: 16px;
  }

  .home-info p {
    font-size: 14px;
  }
 .navbar ul {
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .me-img {
    width: 100%;
    padding-left: 52px;
    height: auto;
  }

  .me-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .home-info a {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .bars-animation {
    height: 100px;
  }
}



